@font-face {
    font-family: Bebas;
    src: url(/Resources/Fonts/BebasNeue.woff);
}

@font-face {
    font-family: Code;
    src: url(/Resources/Fonts/CodeBold.woff);
}

body {
    margin: 0px;
    text-align: center;
    background: url('/Resources/Images/Background/Black.png');
    background-size: 5%;
    color: #BFFF00;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

a img {
    border: none;
}

a:hover {
    color: #BFFF00;
}

.ribbon {
    height: 600px;
    margin: 0px 83px;
    width: 200px;
    float: right;
    background: #BFFF00;
    position: absolute;
    right: 0px;
}

.horizontal {
    height: 200px;
    width: 100%;
    margin: 0px;
    margin-top: 50px;
    z-index: 2;
    background: #BFD730;
}

.block {
    background: black;
    width: 100%;
    height: 100%;
}

.view {
    height: 600px;
    overflow: hidden;
}

.logo {
    margin: auto;
    width: 225px;
}

.logo h1 {
    margin: 0px;
    font-size: 117px;
    font-family: Code;
}

.logo h2 {
    margin: 0px;
    margin-top: -25px;
    font-size: 50px;
    font-family: Bebas;
}

.indexlogo {
    position: relative;
    top: 25px;
}

.arrow {
    width: 100px;
}

.downarrow {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.dbzpanel {
    width: 60%;
    height: 500px;
    float: right;
    position: relative;
    top: 50px;
    margin-right: 40px;
    z-index: 4;
}

.dbzpanel h1 {
    font-family: Code;
    font-size: 60px;
    margin: 0px;
}

.dbzpanel h2 {
    font-family: Bebas;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 4px;
}

.panelleft {
    top: 110px;
    float: left;
    margin-left: 40px;
}

.panelrect {
    width: 100%;
    height: 440px;
    background: #444;
    padding-top: 15px;
    text-align: left;
    border-radius: 10px;
    border: 5px solid #666;
}

.panelcorner {
    width: 50px;
    float: right;
    margin-right: -7px;
}

.panelcornerleft {
    float: left;
    margin-left: -7px;
}

.panelpadding {
    padding: 0px 15px;
}

.buttonholder {
    margin: auto;
    width: 500px;
    height: 233px;
    position: relative;
    top: 300px;
    padding: 5px;
}

.button {
    background: #222;
    float: left;
    border-radius: 5px;
    color: #BFFF00;
    font-family: Bebas;
}

.button p {
    margin: 0px;
}

.button:hover {
    background: #BFFF00;
    color: black;
}

.smallbutton {
    height: 100px;
    width: 150px;
    margin: 6px;
}

.bigbutton {
    height: 100px;
    width: 476px;
    margin: 8px;
}

.longbutton {
    width: 245px;
    margin: 5px;
}

.centerbutton {
    margin: 0px;
    float: none;
    padding: 0px 15px;
}

.centerbutton:hover {
    border: 3px solid black;
}

.bigbutton p {
    font-size: 83px;
    margin-top: -5px;
}

.header {
    height: 65px;
    margin: auto;
    background: #242f38;
    position: fixed;
    width: 100%;
    top: 0px;
    opacity: .95;
    color: #BFFF00;
    z-index: 10;
}

.header h1 {
    font-size: 68px;
    width: 120px;
    margin-left: 15px;
}

.content {
    width: 100%;
    margin: auto;
    position: relative;
    top: 90px;
}

.contentlogo {
    width: 155px;
}

.leftcontentlogo {
    width: 250px;
    height: 250px;
    border: 5px solid white;
    background-size: 500px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 10px;
}

.rightcontent {
    display: inline-block;
    width: 50%;
    margin-left: 15px;
}

.rightcontent h1 {
    font-family: Code;
    font-size: 20px;
    margin: 0px;
}

.rightcontent h2 {
    font-family: Bebas;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 4px;
}

.back {
    float: left;
}

.back img {
    width: 65px;
    height: 65px;
}

.link {
    float: right;
    margin-top: 260px;
}

.link img {
    width: 150px;
    height: 150px;
}

.card {
    background: green;
    display: inline-block;
    height: 400px;
    width: 300px;
    margin: 5px;
    vertical-align: top;
    border-radius: 5px;
    background: #444;
}

.bc {
    background: #BFFF00;
    color: black;
    width: 350px;
    height: 200px;
    margin: auto;
    position: relative;
    top: 345px;
    border-radius: 5px;
}

.bclogo {
    width: 90px;
    float: right;
    margin: 7px 9px;
}

.bclogo h1 {
    font-size: 50px;
}

.bclogo h2 {
    font-size: 22px;
    margin-top: -15px;
}

.bccontact {
    text-align: left;
    float: left;
    margin: 8px;
}

.bccontact a {
    color: black;
}

.bccontact a:hover {
    color: white;
}

.bccontact h2 {
    font-family: Code;
    font-size: 19px;
    margin: 0px;
}

.bcdownload {
    float: left;
    margin: 22px;
}

.contentlogo {
    float: left; 
}

.cardcomputer {
    width: 140px;
    border-radius: 5px;
}

.roundbutton {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #BFFF00;
    color: black;
    border-radius: 50%;
    margin: 15px;
    padding-top: 20px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: width .5s, height .5s, background .5s, margin .5s, padding-top .5s, color .5s;
    transition: width .5s, height .5s, background .5s, margin .5s, padding-top .5s, color .5s;
}

.roundbutton:hover {
    width: 110px;
    height: 110px;
    background: white;
    margin: 5px;
    padding-top: 30px;
    color: black;
}

.roundbuttonicon {
    font-size: 200%;
}

.navbuttonicon {
    font-size: 250%;
}

.navbuttons {
    width: auto;
    float: right;
    margin-right: 15px;
}

.navbutton {
    width: 55px;
    height: 55px;
    margin-top: 5px;
    padding-top: 8px;
}

.navbutton:hover {
    width: 55px;
    height: 55px;
    padding-top: 8px;
    margin: 15px;
    margin-top: 5px;
}

.indexbuttons {
    margin-top: 15px;
    padding-top: 0px;
}

.viewbutton {
    width: 100%;
    margin-top: 15px;
}

.mainviewbutton {
    width: 775px;
    margin-top: 65px;
}

.centerviewbutton {
    margin-top: 200px;
}

.viewtitle {
    margin-top: 0px;
    font-family: Bebas;
    position: relative;
    top: 10px;
    font-size: 700%;
    margin-left: 8px;
}

.viewtitle span {
    font-size: 75%;
    margin-left: -15px;
}

.apple {
    vertical-align: bottom;
}

.ipad {
    height: 390px;
}

.iphone {
    height: 225px
}

.glyphicon-send {
    position: relative;
    right: 4px;
}

.tooltip-inner {
    background: white;
    color: black;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: white;
  border-width: 0 5px 5px;
}

#Splat {
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #ff3019 0%,#cf0404 100%); /* W3C */
    color: white;
}

#MPAror {
    background: #1B75BB;
    color: white;
}

#Erickson {
    background: white;
    height: 400px;
    width: 300px;
    color: black;
    background: orange;
}

#arrow1 {
    margin: auto;
}

#view2 {
    background: url(/Resources/Images/View-2.png);
}

#panel1 {
    border-bottom-right-radius: 0px;
}

#view3 {
    background: url(/Resources/Images/View-3.svg);
}

#panel2 {
    border-bottom-left-radius: 0px;
}

#view4 {
    background: url(/Resources/Images/View-4.png);
}

#view5 {
    background: url(/Resources/Images/View-5.png);
}

#profilebutton {
    font-size: 52px; 
    margin-top: 20px;
}

#repairbutton {
    font-size: 45px; 
    margin-top: 18px; 
    line-height: 38px;
}

#appsbutton {
    font-size: 66px;
    margin-top: 10px;
}

#Ad {
    padding: 0px;
}

#contactform {
    width: 500px;
    margin: auto;
}

#recaptcha_area, #recaptcha_table {
    margin: auto;
}
