@font-face {
    font-family: Bebas;
    src: url(/Resources/Fonts/BebasNeue.otf);
}

@font-face {
    font-family: Code;
    src: url(/Resources/Fonts/CodeBold.otf);
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    background: black;
    color: #BFFF00;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

a img {
    border: none;
}

a:hover {
    color: #BFFF00;
}

.ribbon {
    height: 800px;
    margin: 0px 83px;
    width: 200px;
    float: right;
    background: #BFFF00;
    position: absolute;
    right: 0px;
}

.horizontal {
    height: 200px;
    width: 100%;
    margin: 0px;
    margin-top: 50px;
    z-index: 2;
    background: #BFD730;
}

.block {
    background: black;
    width: 100%;
    height: 100%;
}

.view {
    height: 800px;
}

.logo {
    margin: auto;
    width: 225px;
}

.logo h1 {
    margin: 0px;
    font-size: 117px;
    font-family: Code;
}

.logo h2 {
    margin: 0px;
    margin-top: -25px;
    font-size: 50px;
    font-family: Bebas;
}

.arrow {
    width: 100px;
}

.downarrow {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.dbzpanel {
    width: 60%;
    height: 500px;
    float: right;
    position: relative;
    top: 100px;
    margin-right: 40px;
    z-index: 4;
}

.dbzpanel h1 {
    font-family: Code;
    font-size: 60px;
    margin: 0px;
}

.dbzpanel h2 {
    font-family: Bebas;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 4px;
}

.panelleft {
    top: 275px;
    float: left;
    margin-left: 40px;
}

.panelrect {
    width: 100%;
    height: 440px;
    background: #444;
    padding-top: 15px;
    text-align: left;
    border-radius: 10px;
}

.panelcorner {
    width: 50px;
    float: right;
    margin-right: -7px;
}

.panelcornerleft {
    float: left;
    margin-left: -7px;
}

.panelpadding {
    padding: 0px 15px;
}

.buttonholder {
    margin: auto;
    width: 500px;
    height: 233px;
    position: relative;
    top: 300px;
    padding: 5px;
}

.button {
    background: #222;
    float: left;
    border-radius: 5px;
    color: #BFFF00;
    font-family: Bebas;
}

.button p {
    margin: 0px;
}

.button:hover {
    background: #BFFF00;
    color: black;
}

.smallbutton {
    height: 100px;
    width: 150px;
    margin: 6px;
}

.bigbutton {
    height: 100px;
    width: 481px;
    margin: 8px;
}

.longbutton {
    height: 40px;
    width: 245px;
    margin: 8px;
    margin-left: 80px;
    font-size: 35px;
    margin-top: 0px;
}

.longbutton:hover {
    background: white;
    color: black;
}

.centerbutton {
    margin: 0px;
    float: none;
    padding: 0px 15px;
}

.centerbutton:hover {
    border: 3px solid black;
}

.bigbutton p {
    font-size: 83px;
    margin-top: -5px;
}

.header {
    height: 65px;
    margin: auto;
    background: gray;
    position: fixed;
    width: 100%;
    top: 0px;
}

.content {
    background: white;
    width: 90%;
    margin: auto;
    height: 600px;
    margin-top: 90px;
}

.back {
    float: left;
}

.back img {
    width: 65px;
}

.link {
    float: right;
    margin: 15px;
    position: absolute;
    right: 15px;
    bottom: 35px;
}

.sidenav {
    background: url(/Resources/Images/SideNav.svg);
    width: 400px;
    height: 595px;
    float: right;
    color: black;
    padding-top: 5px;
}

.sidenav h1 {
    font-family: Code;
    font-size: 20px;
    margin: 0px;
}

.sidenav h2 {
    font-family: Bebas;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 4px;
}

.sidenav p {
    margin: 17px;
    margin-top: 95px;
    margin-bottom: 10px;
}

.link img {
    width: 150px;
    height: 150px;
}

.card {
    margin: 8px;
    padding: 15px;
    height: 400px;
    width: 300px;
    background: #444;
    display: inline-block;
    border-radius: 5px;
    float: left;
}

.card a {
    margin-left: 30px;
}

.cardholder {
    background: white; 
    width: 100%;
    float: left;
}

.info {
    background: #444;
    width: 240px;
    margin: auto;
    position: relative;
    padding: 5px;
    padding-top: 1px;
    top: 345px;
    border-radius: 5px;
}

.contentlogo {
    float: left; 
}

.cardcomputer {
    width: 140px;
    border-radius: 5px;
}

#Splat {
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #ff3019 0%,#cf0404 100%); /* W3C */
    color: white;
}

#MPAror {
    background: #1B75BB;
    color: white;
}

#Erickson {
    background: white;
    height: 400px;
    width: 300px;
    color: black;
}

#arrow1 {
    margin: auto;
}

#view2 {
    background: url(/Resources/Images/View-2.png);
}

#view3 {
    background: url(/Resources/Images/View-3.svg);
}

#view4 {
    background: url(/Resources/Images/View-4.svg);
}

#profilebutton {
    font-size: 52px; 
    margin-top: 20px;
}

#repairbutton {
    font-size: 45px; 
    margin-top: 18px; 
    line-height: 38px;
}

#appsbutton {
    font-size: 66px;
    margin-top: 10px;
}