body {
    background-size: 7%;
}

.panel {
    width: 85%;
}

.link {
    margin-top: 275px;
}

.link img {
    width: 100px;
}

.content { 
    width: 91%;
}

.dbzpanel {
    width: 90%;
}

.ipad {
    height: 400px;
}

.iphone {
    height: 235px
}