.panel {
    width: 93%;
    float: none;
    margin: auto;
    top: 40px;
    height: 720px;
}

.panel h1 {
    font-size: 30px;
}

.panelrect {
    height: 700px;
}

.panelcorner {
    display: none;
}

.link {
    bottom: -8px;
}

.link img {
    width: 100px;
}

.ribbon {
    display: none;
}

.buttonholder {
    width: 90%;
    top: 20px;
}

.smallbutton {
    width: 100%;
    height: 60px;
    margin: 8px 0px;
}

.bigbutton {
    width: 100%;
    margin: 0px;
}

.bigbutton p {
    font-size: 75px;
    margin-top: 8px;
}

#profilebutton {
    margin-top: 2px;
}

#repairbutton {
    margin-top: 13px;
}

#appsbutton {
    margin-top: 2px;
    font-size: 53px;
}

.info {
    top: 250px;
}

.back img {
    width: 65px;
    margin-top: 0px;
}

.back {
    margin-top: 30px;
    margin-left: 2px;
}

.contentlogo {
    margin-right: -17px;
    margin-top: 22px;
}

.contentlogo h1 {
    font-size: 65px;
}

.contentlogo h2 {
    font-size: 44px;
    margin-top: -23px;
}

.card {
    margin: 1%;
    padding: 1%;
    width: 96%;
}

.card a {
    margin-left: 17px;
}

.sidenav {
    width: 100%;
    height: auto;
    background: #BFFF00;
}

.sidenav p {
    margin-top: 10px;
}

.longbutton {
    margin-left: 22px;
}

#Erickson {
    width: 95%;
}