@font-face {
    font-family: Coalition;
    src: url(/Resources/Fonts/Coalition.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(/Resources/Fonts/BebasNeue.otf);
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    background: black;
    color: #BFFF00;
}

.panel {
    height: 100%;
    margin: 0px 5%;
    width: 200px;
    float: right;
    background: #BFFF00;
}

.view {
    height: 800px;
}

.logo {
    margin: auto;
    width: 225px;
}

.logo h1 {
    margin: 0px;
    font-size: 77px;
    font-family: Coalition;
}

.logo h2 {
    margin: 0px;
    margin-top: -25px;
    font-size: 50px;
    font-family: Bebas;
}

.arrow {
    width: 100px;
}

.downarrow {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

#arrow1 {
    margin: auto;
}

#view1 {
    padding-top: 10%;
}

#view2 {
    background: white;
}